body {
  /* Inherited properties - text  */
  color: orange;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  text-decoration: underline;
}

.parent {
  /* Inherited properties - text  */
  color: blue;
  font-family: "Courier New", Courier, monospace;

  /* Non-inherited properties */
  border: 2px solid red;
  padding: 20px;
}

.child {
  /* Non-inherited properties */
  background-color: yellow;
  padding: 10px;
  border: 2px solid green;
}
