.container p {
    color: blue;
}

.container {
    background-color: darksalmon;
}

.special {
    border: 2px solid green;
}

.highlight {
    background-color: yellow;
    color: red;
    font-weight: bold;
}

